<div>
    <div class="row">
        <div class="medium-12 columns">
            <p>You'll need a profile. Lets get started!</p>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="large-6 columns">
                <label>First Name
                    <input type="text" placeholder="First Name" ng-model="profileForm.firstName">
                </label>
            </div>
            <div class="large-6 columns">
                <label>Last Name
                    <input type="text" placeholder="Last Name" ng-model="profileForm.lastName">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>Birthdate
                    <input type="text" placeholder="Birthdate" ng-model="profileForm.birthdate">
                </label>
            </div>
            <div class="large-4 columns">
                <label>City
                    <input type="text" placeholder="City" ng-model="profileForm.city">
                </label>
            </div>
            <div class="large-4 columns">
                <label>State
                    <input type="text" placeholder="State" ng-model="profileForm.state">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <p>We are constantly adding talent categories. Please contact us if you feel you're not well-represented
                    by the list below.</p>
                <fieldset class="fieldset" id="instruments">
                    <legend>Instruments</legend>
                    <span ng-repeat="item in profileFormValues.instruments"><input id="{{item.id}}" type="checkbox"
                                                                                   ng-click="selectOption('instruments',item)"
                                                                                   value="{{item.name}}"><label
                            for="{{item.id}}">{{item.name}}</label></span>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <p>Be honest about your vocal range so we can pair you with the correct inquiries.</p>
                <fieldset class="fieldset" id="vocals">
                    <legend>Vocals</legend>
                    <span ng-repeat="item in profileFormValues.vocals"><input id="{{item.id}}" type="checkbox"
                                                                              ng-click="selectOption('vocals',item)"
                                                                              value="{{item.name}}"><label
                            for="{{item.id}}">{{item.name}}</label></span>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <p>Chose the genres you feel you can perform well in a professional setting.</p>
                <fieldset class="fieldset" id="genres">
                    <legend>Genres</legend>
                    <span ng-repeat="item in profileFormValues.genres"><input id="{{item.id}}" type="checkbox"
                                                                              ng-click="selectOption('genres',item)"
                                                                              value="{{item.name}}"><label
                            for="{{item.id}}">{{item.name}}</label></span>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <p>How do you describe yourself? Weekend warrior, or totally committed to your craft?</p>
            </div>
            <div class="large-6 columns">
                <label>Profession
                    <select ng-model="profileForm.profession">
                        <option ng-repeat="item in profileFormValues.profession" value="{{item.name}}">{{item.name}}
                        </option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <p>Be honest about your availability. We want to pair you correctly. Weekdays are considered Monday -
                    Thursday. Weekends are considered Friday - Sunday.</p>
            </div>
            <div class="large-6 columns">
                <label>Availability
                    <select ng-model="profileForm.availability">
                        <option ng-repeat="item in profileFormValues.availability" value="{{item.name}}">{{item.name}}
                        </option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <p>How far are you willing to travel to perform?</p>
            </div>
            <div class="large-6 columns">
                <label>Travel
                    <select ng-model="profileForm.travel">
                        <option ng-repeat="item in profileFormValues.travel" value="{{item.name}}">{{item.name}}
                        </option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                <input type="button" class="button" value="Submit" ng-click="saveProfile()">
            </div>
        </div>
    </form>
</div>